header {
    background-color: rgb(29, 29, 85);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    padding: .5em 0;
}

.list{
    display: flex;
}

.listItem {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Bungee Spice', cursive;
}

.listItem:active {
    border-bottom: 0.1rem double white;
}

.listItem:hover {
    font-size: 1.7rem;
}

.iconLink {
    display: inline-block;
    margin-left: 1rem;
    font-size: 25px;
    color: chartreuse;
}

@media screen and (max-width:1200px) {
    .iconLink {
        font-size: 15px;
    }

    .listItem {
        font-size: 1rem;
    }

    .listItem:hover {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:768px) {
    html{
        font-size: 13px;
    }
    .container-flex{
        flex-direction: column;
    }
    .logo {
        width: 100px;
    }
    .iconLink {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:568px) {
    .list {
        flex-direction: column;
    }
    .listItem {
        margin-top: 0.2em;
    }
    .logo{
        width: 75px;
    }
}